### Global settings ###
network=mainnet

### Server settings ###
port=80
bind=0.0.0.0
#httpscertificatefilepath=devtest.pfx
#httpscertificatefilepassword=toto


### NBXplorer settings ###
BTC.explorer.url=http://payserver-nbxplorer:24444
#BTC.explorer.cookiefile=/root/.nbxplorer/Main/.cookie
#BTC.blockexplorerlink=https://mempool.space/tx/{0}
#BTC.lightning=/root/.lightning/lightning-rpc
#BTC.lightning=https://apitoken:API_TOKEN_SECRET@charge.example.com/

### WIP
### Database ###
postgres=User ID=btcpayuser;Password=shape12-Renegade-antitrust-Bonnet;Application Name=btcpayserver;Host=payserver-postgres;Port=5432;Database=btcpayserver;

#explorer.postgres=User ID=btcpayuser;Password=shape12-Renegade-antitrust-Bonnet;Application Name=nbxplorer;MaxPoolSize=20;Host=payserver-postgres;Port=5432;Database=nbxplorer;
