####Common Commands####
####If Bitcoin Core is running with default settings, you should not need to modify this file####
####All those options can be passed by through command like arguments (ie `-port=19382`)####
## This is the RPC Connection to your node
#agm.rpc.url=http://127.0.0.1:9899/
#By user name and password
#agm.rpc.user=bitcoinuser
#agm.rpc.password=bitcoinpassword
#By cookie file
#agm.rpc.cookiefile=yourbitcoinfolder/.cookie
#By raw authentication string
#agm.rpc.auth=walletuser:password

## This is the connection to your node through P2P
#agm.node.endpoint=127.0.0.1:AGM

## minutxovalue defines the minimum value allowed for a utxo to be tracked
#agm.minutxovalue=1

## startheight defines from which block you will start scanning, if -1 is set, it will use current blockchain height
#agm.startheight=-1
## rescan forces a rescan from startheight
#agm.rescan=0
## rescaniftimebefore only lets rescan occur if current unix timestamp (seconds) is less than the given value
## requires agm.rescan to be true
#agm.rescaniftimebefore=1635210000

#EDIT HERE FOR DOCKER COMPOSE

## This is the RPC Connection to your node
btc.rpc.url=http://payserver-bitcoin:43782
#By user name and password
btc.rpc.user=bitcoinuser
btc.rpc.password=bitcoinpassword

#By cookie file
#btc.rpc.cookiefile=yourbitcoinfolder/.cookie
#By raw authentication string
#btc.rpc.auth=walletuser:password

# EDIT
## This is the connection to your node through P2P
btc.node.endpoint=payserver-bitcoin:28333

## minutxovalue defines the minimum value allowed for a utxo to be tracked
#btc.minutxovalue=1

## startheight defines from which block you will start scanning, if -1 is set, it will use current blockchain height
#btc.startheight=-1
## rescan forces a rescan from startheight
#btc.rescan=0
## rescaniftimebefore only lets rescan occur if current unix timestamp (seconds) is less than the given value
## requires btc.rescan to be true
#btc.rescaniftimebefore=1635210000
## This is the RPC Connection to your node
#btx.rpc.url=http://127.0.0.1:8556/
#By user name and password
#btx.rpc.user=bitcoinuser
#btx.rpc.password=bitcoinpassword
#By cookie file
#btx.rpc.cookiefile=yourbitcoinfolder/.cookie
#By raw authentication string
#btx.rpc.auth=walletuser:password

## This is the connection to your node through P2P
#btx.node.endpoint=127.0.0.1:BTX

## minutxovalue defines the minimum value allowed for a utxo to be tracked
#btx.minutxovalue=1



####Server Commands####
port=24444
bind=0.0.0.0
mainnet=1
